
<h2>Account Alias Names</h2>
<p *ngIf="report?.accounts.length === 0">
    No accounts are available to alias. Please complete report setup and accounts will start appearing as data processing completes.
</p>
<table class="ax-table" *ngIf="report?.accounts.length > 0">
    <thead>
    <tr>
        <th>AWS Account ID</th>
        <th>Alias name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of report.accounts; let i = index;">
        <td>{{ account.aws_account_id }}</td>
        <td>
            <div *ngIf="account.aws_account_id !== editedAccount?.aws_account_id">
                <input type="text" [value]="account.name" class="input-edit" readonly>
                <span class="pull-right"><a (click)="editAccount(account)"><i class="fa fa-pencil"></i></a></span>
            </div>
            <div *ngIf="account.aws_account_id === editedAccount?.aws_account_id">
                <input type="text" [(ngModel)]="editedAccount.name" class="input-edit">
                <span class="pull-right"><a (click)="saveAccount(i)">Save</a></span>
            </div>
        </td>
    </tr>
    </tbody>
</table>
