@import '../../../../assets/css/config';

.date-range-selector {
    display: block;
    width: 100%;
    padding: 0 16px;
    font-weight: 500;
    font-size: .875em;
    line-height: 40px;
    color: $ax-color-teal-7;
    text-transform: uppercase;
    background-color: $ax-color-gray-2;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;

    &:hover {
        background-color: $ax-color-gray-1;
    }
}
