@import '../../../assets/css/config';

.ax-btn {
    display: inline-block;
    padding: 0 18px;
    font-weight: bold;
    line-height: 38px;
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    background-color: $button-default;
    color: $ax-color-teal-6;
    border: 1px solid #ddd;
    border-radius: 24px;

    &--base {
        color: $ax-color-gray-1;
        background-color: $ax-color-teal-6;

        &:not([disabled]):hover {
            background-color: $ax-color-teal-5;
            color: $ax-color-white;
        }
    }

    &--base-o {
        color: $ax-color-teal-6;
        background-color: transparent;
        border: 1px solid $ax-color-teal-4;
    }

    &--full-width {
        width: 100%;
    }

    &--wide {
        padding: 0 50px;
    }

    &--radius-2 {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid $ax-color-bg-strong;
        color: $ax-color-dark-gray;
        padding: 0;
        font-size: 15px;
    }
}

.ax-btn-radius-o {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    border: 1px solid $ax-color-base-dlight;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 0.475em;
        width: 1em;
        height: 1px;
        background: $ax-color-base-strong;
        content: '';
    }

    &--plus {
        &::before {
            transform: rotate(90deg);
        }
    }

    &--close {
        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}
