.dropdown-list {
    margin: 0;
    list-style: none;

    li {
        padding: 14px 20px;
        cursor: pointer;

        &:hover {
            background-color: $ax-color-bg;
        }
    }
}

.dropdown-anchor-border {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 12px 40px 12px 14px;
    color: $ax-color-base-strong;
    cursor: pointer;
    text-overflow: ellipsis;
    border: 1px solid $ax-color-base-dlight;
    border-radius: 26px;

    > i {
        margin-right: 6px;
    }

    &__arrow {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
}
