@import '../../../assets/css/config';

.ax-form-row {
    max-width: 100%;
    padding: 1.250em 0;

    label {
        font-size: 0.813em;
        color: #7c818a;

        & + .ax-field,
        & + .ax-textarea {
            margin-top: 0.5em;
        }
    }

    &--half {
        display: inline-block;
        vertical-align: top;
        width: 49%
    }

    &--one-third {
        display: inline-block;
        vertical-align: top;
        width: 33%;

        &:not(:first-child) {
            padding-left: 0.375em;
        }

        &:not(:last-child) {
            padding-right: 0.375em;
        }
    }

    &__error-msg {
        padding: 3px 0;
        color: $ax-color-failed;
        font-size: 14px;

        i {
            float: right;
            margin-top: 0.375em;
            font-size: 0.750em;
        }
    }

    &__success-msg {
        padding: 3px 0;
        color: $ax-color-success;
        font-size: 0.875em;

        i {
            float: right;
            margin-top: 6px;
            font-size: 12px;
        }
    }
}

.ax-field {
    width: 100%;
    max-width: 100%;
    padding: 8px 0;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #7c818a;
    transition: border .2s;
    outline: 0;

    &:focus {
        border-color: $ax-color-base;
    }

    .error & {
        border-color: $ax-color-failed;
    }
}

.ax-textarea {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    padding: 8px 0;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #7c818a;
    transition: border .2s;
    outline: 0;

    &:focus {
        border-color: $ax-color-base;
    }

    .error & {
        border-color: $ax-color-failed;
    }
}

.ax-select {
    height: 37px;
    width: 100%;
    max-width: 100%;
    padding: 8px 0;
    font-size: 1em;
    margin-top: 0.5em;
    border: none;
    border-bottom: 1px solid #7c818a;
    border-radius: 0;
    box-shadow: none !important;
    background-color: inherit;
    cursor: pointer;
    -webkit-appearance: none;

    &:focus {
        box-shadow: none;
        border-color: $ax-color-base;
    }

    & > option {
        border-radius: 0;
    }

    &__wrapper {
        position: relative;

        &::after {
            position: absolute;
            right: 8px;
            top: 50%;
            margin-top: 3px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #777;
            content: '';
        }
    }
}
