.ax-table {
    width: 100%;
    table-layout: fixed;
    font-size: .85em;
    border-collapse: separate;
    border-spacing: 0px;

    th {
        padding: .75em 1.4em;
        color: $ax-color-base-strong;
        text-align: left;
    }

    td {
        padding: 0 1.4em;
        line-height: 80px;
        color: $ax-color-secondary;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        border-bottom: 1px solid $ax-color-bg-strong;
        border-top: 3px solid $ax-color-bg;
    }

    tbody tr {
        background-color: $ax-color-bg-light;

        &.selected {
            background-color: $ax-color-base-slight;
        }

        &:first-child td {
            border-top: 0;
        }
    }

    &--interactive {
        tbody tr:hover {
            background-color: $ax-color-base-slight;
            cursor: pointer;
        }
    }

    &--statuses {
        tbody tr {
            td:first-child {
                position: relative;

                &::before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: -1px;
                    width: 4px;
                    content: '';
                }
            }

            &.success td:first-child::before {
                background-color: $ax-color-success;
            }

            &.pending td:first-child::before {
                background-color: $ax-color-warning;
            }

            &.fail td:first-child::before {
                background-color: $ax-color-failed;
            }
        }
    }

    &--with-expaneding {
        tr:not(.expanded):nth-child(2n) {
            display: none;
        }

        tr.expanded:nth-child(2n - 1) td {
            border-bottom: 0;
        }

        tr:nth-child(2n) td {
            border-top: 0 !important;
        }
    }

    &--with-expaneding.ax-table--statuses {
        tbody tr {
            &.success + tr td:first-child::before {
                background-color: $ax-color-success;
            }

            &.pending + tr td:first-child::before {
                background-color: $ax-color-warning;
            }

            &.fail + tr td:first-child::before {
                background-color: $ax-color-failed;
            }
        }
    }
}
