.ax-tag {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 2px;
    font-size: 12px;
    color: $ax-color-gray-6;
    background: $ax-color-gray-4;
    border-radius: 5px;

    &__name {
        display: inline-block;
        padding: 3px 4px;
        background: #fff;
        border-radius: 4px;
    }

    &__remove {
        display: inline-block;
        padding: 0 3px;
        cursor: pointer;

        &:hover {
            color: $ax-color-teal-6;
        }
    }
    
    &[hidden] {
        display: none;
    }
}
