// Colors and font sizes defined in https://applatix.atlassian.net/wiki/display/UX/Typography

$ax-color-white: #fff;
$ax-color-teal: #00BDCE;
$ax-color-gray: #778E94;
$ax-color-dark-gray: #475458;
$ax-storm-dust: #626362;
$ax-color-dark-teal: #07656E;
$ax-color-light-border: #c6cfd4;
$ax-color-bg: #fff;
$ax-intro-layout-bg: #f1f1f1;
$ax-color-failed: #dd2c00;
$ax-color-success: #4daf51;
$ax-color-warning: #f4c01f;

// To be documented:
$ax-color-base-mlight: #c0eef1; // medium light
$ax-color-base-slight: #e7f9fa; // super light
$ax-color-base-dlight: #46888e; // dark light

// colors
$ax-color-base: $ax-color-teal;
$ax-color-base-2: $ax-storm-dust;
$ax-color-base-strong: $ax-color-dark-teal;
$ax-color-bg-strong: $ax-color-light-border;
$ax-color-secondary: $ax-storm-dust;

$ax-color-bg-light: $ax-color-white;

// Foundation settings
$global-width: 100%;
$dropdown-width: auto;
$breakpoint-classes: (small medium large xlarge xxlarge);
$body-font-family: 'Open Sans', sans-serif;

$fa-font-path: 'assets/font-awesome/fonts';

// Z indexes
$ax-zIndex-dropdown-menu: 1;
$ax-zIndex-topbar: 2;
$ax-zIndex-sliding-panel: 3;
$ax-zIndex-notification: 4;

// Button Colors
$button-primary: #4A90E2;
$button-primary-font: $ax-color-white;
$button-default: $ax-color-white;
$button-default-font: #4A90E2;

// Others
$ax-topbar-height: 80px;
$ax-nav-width: 140px;
$ax-width-container: 1284px;
$ax-toolbar-height: 80px;

// New colors
$ax-color-gray-1: #F8FBFB;
$ax-color-gray-2: #EFF3F5;
$ax-color-gray-3: #DEE6EB;
$ax-color-gray-4: #CCD6DD;
$ax-color-gray-5: #8FA4B1;
$ax-color-gray-6: #6D7F8B;
$ax-color-gray-7: #495763;
$ax-color-gray-8: #363C4A;
$ax-color-gray-9: #000000;

$ax-color-teal-1: #F5FBFD;
$ax-color-teal-2: #DFF6F9;
$ax-color-teal-3: #BDECF2;
$ax-color-teal-4: #99E1EA;
$ax-color-teal-5: #1FBDD0;
$ax-color-teal-6: #00A2B3;
$ax-color-teal-7: #006F8A;
$ax-color-teal-8: #004C67;

$ax-color-yellow: #FFD100;
$ax-color-green: #7ED321;
$ax-color-orange: #FF8046;
$ax-color-red: #F00052;
$ax-color-blue: #48A0FF;
$ax-color-purple: #623C98;
$ax-color-cyan: #3DE3FF;

$ax-color-base-dark: #2b303a;

$ax-color-error: #E96D76;
$ax-color-success: #18BE94;
$ax-color-progress: #0DADEA;
