h1 {
    font-size: 2em;
    color: $ax-color-teal-7;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.250em;
    color: $ax-color-teal-7;
}

h3 {
    margin-bottom: 16px;
    font-size: 1.250em;
    color: $ax-color-teal-7;
}

h4 {
    margin-bottom: 16px;
    font-size: 1em;
    color: $ax-color-teal-7;
}

p {
    margin-bottom: 16px;
}

small {
    font-size: .9em;
}

strong {
    font-weight: bold;
}

a {
    color: $ax-color-teal-7;

    &:hover {
        color: $ax-color-teal-6;
    }
}
