@import '../../../../assets/css/config';

$animation-duration: .4s;
$shadow: -4px -4px 6px rgba(0, 0, 0, .2);

.sliding-panel {
    top: 0;
    bottom: 0;
    position: fixed;
    box-shadow: $shadow;
    z-index: $ax-zIndex-sliding-panel;
    background-color: #FFF;
    overflow-y: auto;
    padding: 20px;
    visibility: hidden;

    &__close-button {
        position: absolute;
        cursor: pointer;
    }

    &--left {
        transition: left $animation-duration, visibility $animation-duration;
        left: 100%;
        right: 0;
    }

    &--right {
        transition: right $animation-duration, visibility $animation-duration;
        left: 0;
        right: 100%;
    }

    &--opened {
        visibility: visible;
    }
}

.sliding-panel--opened.sliding-panel--left {
    right: 0;
    left: 40%;

    .sliding-panel__close-button {
        left: 5px;
        top: 3px;
    }
}

.sliding-panel--opened.sliding-panel--right {
    right: 20%;
    left: 0;

    .sliding-panel__close-button {
        right: 5px;
        top: 3px;
    }
}

.popup-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $ax-color-gray-3;
    transition: opacity #{$animation-duration}, visibility #{$animation-duration};

    &:not(.opened) {
        opacity: 0;
        visibility: hidden;
    }
}
