<div class="ax-notifications-list">
    <template ngFor let-notification [ngForOf]="notifications" let-i="index">
        <div class="ax-notification" *ngIf="notification !== undefined"
             [class.success]="notification.type === notificationTypes.Success"
             [class.warning]="notification.type === notificationTypes.Warning"
             [class.error]="notification.type === notificationTypes.Error">
            <img class="ax-notification__ico" src="/assets/icons/ico_success.svg" alt=""
                 *ngIf="notification.type === notificationTypes.Success">
            <img class="ax-notification__ico" src="/assets/icons/ico_failed.svg" alt=""
                 *ngIf="notification.type === notificationTypes.Error">
            {{ notification.content }}
            <div class="ax-notification__close" (click)="close(i)">x</div>
        </div>
    </template>
</div>
