text {
    font-size:12px;
}
svg {
    display: block;
    float: left;
}

.nvd3.nv-pie.nv-chart-donut1 .nv-pie-title {
    opacity: 0.4;
    fill: rgba(224, 116, 76, 0.91);
}

#reportDonut {
    height: 550px !important;
    width: 100% !important;
    svg {
        .c3-line {
            stroke-width: 2px;
        }
        .c3-circle {
            stroke-width: 0px;
            visibility: hidden;
        }
        .c3-circle._expanded_ {
            stroke-width: 1px;
            visibility: visible;
        }
    }
    .c3-tooltip-container {
        pointer-events: auto !important;
    }
}
