<div class="row">
    <div class="columns large-3">
        <ul class="axc-list-group">
            <li class="axc-list-group__item" (click)="setTab('SETUP')" [ngClass]="{'active': settingType === 'SETUP'}">
                Report Setup
            </li>
            <li class="axc-list-group__item" (click)="setTab('ACC')" [ngClass]="{'active': settingType === 'ACC'}">
                Accounts Alias
            </li>
            <li class="axc-list-group__item" (click)="setTab('SSL')" [ngClass]="{'active': settingType === 'SSL'}">
                SSL Keys
            </li>
            <li class="axc-list-group__item" (click)="setTab('PASS')" [ngClass]="{'active': settingType === 'PASS'}">
                Change Password
            </li>
            <li class="axc-list-group__item" (click)="setTab('ABOUT')" [ngClass]="{'active': settingType === 'ABOUT'}">
                About
            </li>
        </ul>
    </div>
    <div class="columns large-9" [ngClass]="{'show': settingType === 'SSL','hide': settingType !== 'SSL'}">
        <axc-keys-config></axc-keys-config>
    </div>
    <div class="columns large-9" [ngClass]="{'show': settingType === 'SETUP','hide': settingType !== 'SETUP'}">
        <axc-aws-config></axc-aws-config>
    </div>
    <div class="columns large-9" [ngClass]="{'show': settingType === 'ABOUT','hide': settingType !== 'ABOUT'}">
        <div class="row">
            <div class="columns large-12">
                <h3>About</h3>
            </div>
            <div class="columns large-2 small-2 medium-2">
                Version:
            </div>
            <div class="columns large-10 small-10 medium-10">
                {{appVersion}}
            </div>
        </div>
    </div>
    <div class="columns large-9" [ngClass]="{'show': settingType === 'ACC','hide': settingType !== 'ACC'}">
        <div class="row">
            <div class="columns large-12">
                <axc-accounts></axc-accounts>
            </div>
        </div>
    </div>
    <div class="columns large-9" [ngClass]="{'show': settingType === 'PASS','hide': settingType !== 'PASS'}">
        <div class="row">
            <div class="columns large-12">
                <axc-password></axc-password>
            </div>
        </div>
    </div>
</div>
