@import '../../../assets/css/config';

.user-details {

    &__title-row {
        axc-avatar {
            display: inline-block;
            vertical-align: top;
            padding-top: 4px;
        }

        h3 {
            display: inline-block;
            margin: 0;
            line-height: 2em;

            i {
                color: $ax-color-gray;
                font-size: 1em;
                padding-left: 0.5em;
            }
        }

        .editNameForm {
            display: inline-block;
            line-height: 2em;
        }
    }

    &__enable-slide {
        padding-right: 7.14em;
        padding-top: 1em;
    }
}
