<form #changePasswordForm="ngForm" (ngSubmit)="changePasswordForm.valid && doChangePassword(changePasswordForm)" novalidate axc-password-matcher>
    <div class="ax-form-row">
        <label for="password">Current Password</label>
        <input #currentPassword="ngModel" class="ax-field" id="currentPassword" type="password" name="currentPassword"
               [(ngModel)]="changePasswordData.currentPassword" required>
        <div *ngIf="currentPassword.errors && currentPassword.touched" class="ax-form-row__error-msg">
            <div [hidden]="!currentPassword.errors.required">
                Current Password is required
            </div>
        </div>
    </div>
    <div class="ax-form-row">
        <label for="password">New Password</label>
        <input #password="ngModel" class="ax-field" id="password" type="password" name="password"
               [(ngModel)]="changePasswordData.newPassword" required minlength="8">
        <div *ngIf="password.errors && password.touched" class="ax-form-row__error-msg">
            <div [hidden]="!password.errors.required">
                New Password is required
            </div>
            <div [hidden]="!password.errors.minlength">
                Password should contain at least 8 characters.
            </div>
        </div>
    </div>
    <div class="ax-form-row">
        <label for="password">Confirm Password</label>
        <input #confirm="ngModel" class="ax-field" id="confirm" type="password" name="confirm"
                [(ngModel)]="changePasswordData.confirmPassword" required>
        <div *ngIf="confirm.errors && confirm.touched" class="ax-form-row__error-msg">
            <div [hidden]="!confirm.errors.required">
                Password confirmation is required
            </div>
        </div>
        <div *ngIf="changePasswordForm.control?.errors?.noMatch && confirm.dirty" class="ax-form-row__error-msg">
            Your password and confirmation password do not match
        </div>
    </div>
    <div class="ax-form-row text-right">
        <button type="submit" [disabled]="!changePasswordForm.form.valid" class="ax-btn ax-btn--base ax-btn--wide">Apply</button>
    </div>
</form>
