<h3>Manage Private Key & Public Certificates</h3>

<form (submit)="update()" class="white-box">
    <div class="ax-form-row">
        <label for="privateKey">Private Key</label>
        <textarea class="ax-textarea" #privateKey="ngModel" name="privateKey" id="privateKey"
                  [(ngModel)]="config.private_key"></textarea>
    </div>
    <div class="ax-form-row">
        <label for="publicCertificate">Public Certificate</label>
        <textarea class="ax-textarea" #publicCertificate="ngModel" name="publicCertificate" id="publicCertificate"
                  [(ngModel)]="config.public_certificate"></textarea>
    </div>
    <div class="text-right">
        <button class="ax-btn ax-btn--base" type="submit">Update</button>
    </div>
</form>
