@import '../../../assets/css/config';

.msg-box {
    max-width: 460px;
    margin: 80px auto;
    padding: 50px 50px 80px;
    text-align: center;
    background-color: $ax-color-bg-light;
    box-shadow: 3px 3px 4px rgba(#000, .07);
    border-radius: 3px;
}
