@import '../../../../assets/css/config';

.dropdown-multiselect {
    a { outline: none !important; }

    height: 37px;
    width: 100%;
    max-width: 100%;
    padding: 8px 0;
    font-size: 16px;
    margin-top: 8px;
    border: none;
    border-bottom: 1px solid #7c818a;
    border-radius: 0;
    box-shadow: none !important;
    background-color: inherit;
    cursor: pointer;
    -webkit-appearance: none;

    button {
        height: 37px;
        width: 100%;
        text-align: left;
        .caret {
            position: absolute;
            right: 28px;
            margin-top: 8px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #777;
        }
    }

    .dropdown-menu {
        background-color: $ax-color-bg-light;
        border: 2px solid $ax-color-bg-strong;
        z-index: $ax-zIndex-dropdown-menu;
        margin-left: 0px;
        position: absolute;
        min-width: 200px;

        li {
            margin: 10px;
        }
    }

    &:focus {
        box-shadow: none;
        border-color: $ax-color-base;
    }

    .ax-btn {
        padding: 0 0.5em;
    }

}

