@import '../../../../assets/css/config';

.ax-switch {
    display: inline-block;
    padding: 2px;
    background-color: $ax-color-teal-6;
    border-radius: 6px;

    &__button {
        display: inline-block;
        padding: 0 24px;
        font-weight: 500;
        font-size: .875em;
        line-height: 36px;
        color: $ax-color-gray-1;
        text-transform: uppercase;
        border-radius: 5px;
        outline: 0;

        &.active {
            color: $ax-color-gray-7;
            background-color: $ax-color-gray-1;
        }

        &:not(.active) {
            cursor: pointer;
        }
    }
}
