@import '../../../../assets/css/config';

.help-panel {
    margin: -20px;

    &__header {
        position: relative;
        padding: 20px 20px 20px 76px;
        color: $ax-color-base-strong;
        background-color: $ax-color-base-mlight;
        border-bottom: 1px solid $ax-color-base;

        h3 {
            margin: 0;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            text-transform: uppercase;
        }
    }

    &__body {
        max-width: 780px;
        padding: 20px 20px 20px 76px;
    }

    &__close {
        position: absolute;
        left: 20px;
        top: 20px;
    }
}
